/Favorites/node_modules/
/Favorites/bin/
/Favorites/.vscode/
/account-service/node_modules/
/account-service/bin/
/account-service/.vscode/
/Order/node_modules/
/Order/bin/
/Order/.vscode
/location-service/node_modules/
/location-service/bin/
/location-service/.vscode/
/api-gw/node_modules/
/api-gw/bin/
/api-gw/.vscode/

/OrderStatus/target/
/RankingService/target/
/notification-service/target/
/payment-service/target/

/restaurants-service/build/
/restaurants-service/bin/
/restaurants-service/gradle/
/deals-service/build/
/deals-service/bin/
/deals-service/gradle/

/.settings
.classpath
.project
.springBeans