/Favorites/node_modules/
/Favorites/bin/
/account-service/node_modules/
/account-service/bin/
/Order/node_modules/
/Order/bin/
/OrderStatus/target/
/RankingService/target/
/api-gw/node_modules/
/api-gw/bin/
/deals-service/build/
/location-service/node_modules/
/location-service/bin/
/location-service/target/
/payment-service/target/
/restaurants-service/build/