<div class="card card-block login-card">
  <h3 class="form-label">Welcome Back</h3>
  <span class="form-label">sign in to continue to Restaurants</span>
  <div class="form-group">
      <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <div class="input-group">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="email" name="email" formControlName="email">
          </mat-form-field>

    </div>
    <div class="input-group">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="pass" name="pass" formControlName="pass" type="password">
          </mat-form-field>
    </div>
    <button class="btn btn-lg btn-primary" >Login</button>
    <a href="" class="btn btn-link">Register Now. →</a>
    </form>
  </div>
</div>
